<head>
  <link rel="stylesheet" type="text/css" href="question-add.component.css">
</head>

<body>
        <div style="text-align:center">
                <h3>
                        Question - ADD
                      </h3>
                      <form>
                          Question Num: <input type="text" name="Q_ID"><br><br>
                          Difficulty: <input type="text" name="Difficulty"><br><br>
                          Questions: <input type="text" name="Q_CONTENT"><br><br>
                          Choice 1: <input type="text" name="Choice"><br><br>
                          Choice 2: <input type="text" name="Choice"><br><br>
                          Choice 3: <input type="text" name="Choice"><br><br>
                          Choice 4: <input type="text" name="Choice"><br><br>
                          <br>
                      </form>
                      <button (click) = 'postQuestion()'>
                        <label>ADD</label>
                      </button>
</div>
</body>