<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>
    Welcome to Quiz Manager.
  </h1>
  <h2>
    Login Page.
  </h2>
  <div style="text-align: left">
    <table>
    <tr>
      <th>
    <h2>
      Admin Login.
    </h2>
  </th>
  <th>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </th>
  <th>
      <h2>
          Student Login.
        </h2>
  </th>
    </tr>


    <tr>
        <th>
      <h3>
          user Name: <input type="text" name="A_ID"><br><br>
      </h3>
    </th>
    <th>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </th>
    <th>
        <h3>
            user Name: <input type="text" name="S_ID"><br><br>
          </h3>
    </th>
      </tr>


      <tr>
          <th>
        <h3>
            Password: <input type="password" name="A_PASS"><br><br>
        </h3>
      </th>
      <th>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
      <th>
          <h3>
              Password: <input type="password" name="S_PASS"><br><br>
            </h3>
      </th>
        </tr>
    
        <tr>
            <th>
          <h3>
              <button>
                  <label>Login</label>
                </button>
          </h3>
        </th>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </th>
        <th>
            <h3>
                <button>
                    <label>Login</label>
                  </button>
              </h3>
        </th>
          </tr>


    
  </table>
  </div>
</div>

</body>