<body>
    <div style="text-align:center">
      <h1>
        Welcome to Quiz Manager.
      </h1>
      <h2>
        Question Editor
      </h2>
      <h3>
        Question - Edit
      </h3>
      <form>
        Question Num: <input type="text" name="Q_ID"><br><br>
        Difficulty: <input type="text" name="Difficulty"><br><br>
        Questions: <input type="text" name="Q_CONTENT"><br><br>
        Choice 1: <input type="text" name="Choice"><br><br>
        Choice 2: <input type="text" name="Choice"><br><br>
        Choice 3: <input type="text" name="Choice"><br><br>
        Choice 4: <input type="text" name="Choice"><br><br>
        <br>
        <button (click) = 'getQuestion()'><label>Save</label></button>
      </form>
      <br><br><br>
      <h3>
        Question - ADD
      </h3>
      <form>
          Question Num: <input type="text" name="Q_ID"><br><br>
          Difficulty: <input type="text" name="Difficulty"><br><br>
          Questions: <input type="text" name="Q_CONTENT"><br><br>
          Choice 1: <input type="text" name="Choice"><br><br>
          Choice 2: <input type="text" name="Choice"><br><br>
          Choice 3: <input type="text" name="Choice"><br><br>
          Choice 4: <input type="text" name="Choice"><br><br>
          <br>
      </form>
      <button (click) = 'postQuestion()'>
        <label>ADD</label>
      </button>
    
      <table>
        <tr>
          <th>Question content</th>
      
        </tr>
        <tr *ngFor='let question of questionList'>
          <td>{{ question.content }}</td>
        </tr>
      
      </table>
    </div>
    </body>